<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>infor</title>
</head>
<body>
<nav th:replace="/fragment/student_nav_bar :: studentNavBar"></nav>
<div th:if="${status=='success'}"  class="alert alert-success" role="alert">
    <span>Đổi mật khẩu thành công!</span>
</div>

<div th:if="${status=='failed'}" class="alert alert-danger" role="alert">
    <span>Mật khẩu không trùng khớp!</span>
</div>
<div th:if="${status=='blank'}" class="alert alert-danger" role="alert">
    <span>Không được để trống!</span>
</div>
<div class="changepw"  >
    <div style="width: 700px;"  class="card text-center">
        <div class="card-header">
            Change password
        </div>
        <form th:action="@{/student/changePassword}" method="post" style="margin: 20px;" >
            <div class="form-group row">
                <label for="old" class="col-sm-3 col-form-label col-form-label-sm">Old password</label>
                <div class="col-sm-6">
                    <input name="oldpassword" type="password" class="form-control form-control-sm" id="old" placeholder="Old password">
                </div>
            </div>

            <div class="form-group row">
                <label for="new" class="col-sm-3 col-form-label col-form-label-sm">New password</label>
                <div class="col-sm-6">
                    <input name="newpassword" type="password" class="form-control form-control-sm" id="new" placeholder="New password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>

</body>
</html>