<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="studentNavBar" class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/student/getTranscript}">Kết quả học tập <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/student/registerForStudying}">Đăng kí học phần <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/student/personalInformation}">Thông tin cá nhân <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <a class="navbar-brand" th:text="${fullname}"></a>
    <button class="btn btn-outline-success my-2 my-sm-0" ><a th:href="@{/logout}">Logout</a></button>

  </div>
</nav>




</body>


