<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>manage class</title>
</head>
<body>
<nav th:replace="/fragment/teacher_nav_bar :: teacherNavBar"></nav>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">subject name</th>
        <th scope="col">size</th>
        <th scope="col">status</th>
        <th scope="col">action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="class: ${list}">
        <th scope="row" th:text="${class.getClass_id()}" ></th>
        <td th:text="${class.getSubject().getSubject_name()}"></td>
        <td th:text="${class.getSize()}"></td>
        <td th:text="${class.getStatus()}"></td>
        <td><button class="btn btn-light" > <a th:href="@{/teacher/closeClass/{ClassId}(ClassId = ${class.getClass_id()})}">Đóng đăng kí</a></button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>