.box {
    margin-top:40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body div{

padding-top:40px
}
.img{
  display: flex;
    margin-top:20px;
  justify-content: center;
}
img{
border-radius: 50%;
}

.changepw{
  display: flex;
    margin-top:20px;
  justify-content: center;
}
